.footer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.line {
  height: 2px;
  background: #9c69e2;
  opacity: 0.2;
  width: 100%;
  margin-bottom: 100px;
}

.top-footer {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.footer__buttons {
  display: flex;
  column-gap: 30px;
}

.footer__button--learn-more {
  size: 18px;
  width: 170px;
  height: 60px;
  color: #fff;
  background: #f063b8;
}

.footer__button--request-demo {
  width: 210px;
  height: 60px;
  background: #fff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #212353;
}

.bottom-footer {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.rights__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: #212353;
}

@media screen and (min-width: 2500px) {
  .footer__title {
    font-size: 4rem;
  }

  .footer__text p{
    font-size: 1.5rem;
  }

  .rights__text {
    font-size: 1.5rem;
  }

  .footer__button--learn-more {
    font-size: 1.5rem;
    width: 280px;
    height: 80px;
  }

  .footer__button--request-demo {
    font-size: 1.5rem;
    width: 280px;
    height: 80px;
  }
}
@media screen and (max-width: 1100px) {
  .top-footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .bottom-footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .top-footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer__text {
    align-items: center;
  }

  .bottom-footer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .line {
    margin-bottom: 50px;
  }

  .footer__title h2 {
    font-size: 2rem;
  }

  .footer__text p {
    font-size: 1rem;
  }

  .footer__button--learn-more-button {
    margin-bottom: 1rem;
  }

  .footer__buttons {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
}
