.info-about {
  color: #f063b8;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  margin-left: 15%;
  margin-right: 10%;
}

.info-about__image {
  width: 45%;
}

.info-about__text {
  margin-right: 8%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
